<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.DiagnosticSource"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />-->
    <target name="allFile" xsi:type="File" fileName="c:\temp\nlog-AspNetCore-all-razor-json-${shortdate}.json" >
      <layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
        
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="literal" layout="${literal}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}" />
        
        <!--<attribute name="newline" layout="${newline}" />
        <attribute name="object-path" layout="${object-path}" />
        <attribute name="onexception" layout="${onexception}" />
        <attribute name="onhasproperties" layout="${onhasproperties}" />
        <attribute name="var" layout="${var}" />-->

        <!--Callsite and stacktraces-->
        <!--<attribute name="callsite" layout="${callsite}" />
        <attribute name="callsite-filename" layout="${callsite-filename}" />
        <attribute name="callsite-linenumber" layout="${callsite-linenumber}" />-->
        <!--<attribute name="stacktrace" layout="${stacktrace}" />-->

        <!--Conditions-->
        <!--<attribute name="when" layout="${when:when=level==LogLevel.Info:inner=when-info:else=when-not-info}" />
        <attribute name="whenempty" layout="${whenempty}" />-->
        
        <!--Context information-->
        <!--activity-->
        <attribute name="trace_id" layout="${activity:property=TraceId}" />
        <attribute name="ativityid" layout="${activityid}" />
        <attribute name="all-event-properties" layout="${all-event-properties:exclude=address,envName,EventId,EventId_Id,EventId_Name,contentRoot}" />
        <!--event-properties-->
        <!--<attribute name="address" layout="${event-properties:address}" />
        <attribute name="eventId" layout="${event-properties:EventId}" />
        <attribute name="eventId_Id" layout="${event-properties:EventId_Id}" />
        <attribute name="eventId_Name" layout="${event-properties:EventId_Name}" />
        <attribute name="contentRoot" layout="${event-properties:contentRoot}" />
        <attribute name="envName" layout="${event-properties:envName}" />-->
        <attribute name="gdc" layout="${gdc}" />
        <!--<see href=https://blog.elmah.io/nlog-tutorial-the-essential-guide-for-logging-from-csharp/ />-->
        <attribute name="install-context" layout="${install-context}" />
        <attribute name="mdc" layout="${mdc}" />
        <attribute name="mdlc" layout="${mdlc}" />
        <attribute name="ndc" layout="${ndc}" />
        <!--<attribute name="ndlc" layout="${ndlc}" />-->
        
        <!--Counter-->
        <!--<attribute name="counter" layout="${counter}" />
        <attribute name="guid" layout="${guid}" />
        <attribute name="sequenceid" layout="${sequenceid}" />-->
        
        <!--Date and time-->
        <!--<attribute name="date" layout="${date}" />
        <attribute name="longdate" layout="${longdate}" />
        <attribute name="shortdate" layout="${shortdate}" />
        <attribute name="ticks" layout="${ticks}" />
        <attribute name="time" layout="${time}" />-->
        
        <!--Encoding and string transformation-->
        <!--<attribute name="json-encode" layout="${message:json-encode=true}" />
        <attribute name="left" layout="${message:left:inner=Layout:length=5}" />
        <attribute name="lowercase" layout="${message:lowercase=true}" />
        <attribute name="nowrawvalue" layout="${norawvalue}" />
        <attribute name="pad" layout="${message:padding=5}" />
        <attribute name="replace" layout="${replace:inner=${message}:searchFor=(\\d{3\})+:replaceWith=:regex=true}" />
        <attribute name="right" layout="${right}" />
        <attribute name="rot13" layout="${rot13}" />
        <attribute name="substring" layout="${substring}" />
        <attribute name="trim-whitespace" layout="${trim-whitespace}" />
        <attribute name="uppercase" layout="${uppercase}" />
        <attribute name="url-encode" layout="${url-encode}" />
        <attribute name="wrapline" layout="${wrapline}" />
        <attribute name="xml-encode" layout="${xml-encode}" />-->
        
        <!--Environment and config files-->
        <!--<attribute name="appsetting" layout="${appsetting}" />
        <attribute name="configsetting" layout="${configsetting}" />
        <attribute name="environment" layout="${environment}"/>
        <attribute name="environment-user" layout="${environment-user}"/>
        <attribute name="registry" layout="${registry}"/>-->
        
        <!--Processes, threads and assemblies-->
        <!--<attribute name="appdomain" layout="${appdomain}" />
        <attribute name="assembly-version" layout="${assembly-version}" />-->
        <!--<attribute name="gc" layout="${gc}" />-->
        <attribute name="hostname" layout="${hostname}"/>
        <!--<attribute name="local-ip" layout="${local-ip}"/>-->
        <!--<attribute name="machinename" layout="${machinename}"/>-->
        <attribute name="performancecounter" layout="${performancecounter}" />
        <!--<attribute name="processid" layout="${processid}"/>
        <attribute name="processinfo" layout="${processinfo}"/>
        <attribute name="processname" layout="${processname}"/>
        <attribute name="processtime" layout="${processtime}"/>
        <attribute name="threadid" layout="${threadid}"/>
        <attribute name="threadname" layout="${threadname}"/>-->
        
        <!--Web, ASP.NET and ASP.NET Core-->
        <!--<attribute name="aspnet-appbasepath" layout="${aspnet-appbasepath}" />-->
        <!--<attribute name="application" layout="${aspnet-application}" />
        <attribute name="environment" layout="${aspnet-environment}" />-->
        <!--HttpContext.Items["myvariable"] = 123;-->
        <attribute name="item" layout="${aspnet-item:variable=myVariable:upperCase=true}" />
        <attribute name="mvc-action" layout="${aspnet-mvc-action}" />
        <attribute name="mvc-controller" layout="${aspnet-mvc-controller}" />
        <attribute name="request" layout="${aspnet-request}" />
        <!--<attribute name="request-contenttype" layout="${aspnet-request-contenttype}" />
        <attribute name="request-cookie" layout="${aspnet-request-cookie}" />
        <attribute name="request-form" layout="${aspnet-request-form}" />
        <attribute name="request-headers" layout="${aspnet-request-headers}" />-->
        <!--<attribute name="request-host" layout="${aspnet-request-host}" />
        <attribute name="request-ip" layout="${aspnet-request-ip}" />-->
        <attribute name="request-method" layout="${aspnet-request-method}" />
        <attribute name="request-posted-body" layout="${aspnet-request-posted-body}" />
        <attribute name="request-querystring" layout="${aspnet-request-querystring}" />
        <attribute name="request-referrer" layout="${aspnet-request-referrer}" />
        <attribute name="request-routeparameters" layout="${aspnet-request-routeparameters}" />
        <!--<attribute name="request-url" layout="${aspnet-request-url}" />-->
        <!--<attribute name="request-user-agent" layout="${aspnet-request-useragent}" />-->
        <attribute name="response-statuscode" layout="${aspnet-response-statuscode}" />
        <attribute name="session" layout="${aspnet-session}" />
        <attribute name="sessionid" layout="${aspnet-sessionid}" />
        <attribute name="traceidentifier" layout="${aspnet-traceidnetifier}" />
        <attribute name="user-authtype" layout="${aspnet-user-authtype}" />
        <attribute name="user-claim" layout="${aspnet-user-claim}" />
        <attribute name="user-identity" layout="${aspnet-user-identity}" />
        <attribute name="user-isauthenticated" layout="${aspnet-user-isathenticated}" />
        <!--<attribute name="webrootpath" layout="${aspnet-webrootpath}" />-->
        <!--<attribute name="iis-site-name" layout="${iis-site-name}" />-->
      </layout>
    </target>

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-AspNetCore-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>
